PROJECT_BASE_NAME=review_service

# Ports published on the host by docker compose
BACKEND_PORT=8083
POSTGRES_PUBLISHED_PORT=5435

POSTGRES_DB=review_service
POSTGRES_USER=review_service_user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
